# Copy this file to `openvpn-1password.conf` for local use.
# The real `openvpn-1password.conf` is ignored by git.

# export OPENVPN_CONFIG_PATH="$HOME/.config/openvpn/client.ovpn"
# export OPENVPN_KEY_FILE="$HOME/.key"
# export OPENVPN_KEY_OP_VAR='OP'
#
# Use one of the two approaches below.
#
# 1. Pin a specific 1Password item:
# export OPENVPN_OP_ACCOUNT='my'
# export OPENVPN_OP_ITEM='replace-with-1password-item-id'
# export OPENVPN_OP_VAULT=''
#
# 2. Or let the script auto-discover a matching Login item:
# export OPENVPN_OP_MATCH_REGEX='openvpn|vpn|company-name|vpn-host'
