[Unit]
Description=Automatic hibernation when inactive

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl hibernate

[Install]
WantedBy=sleep.target
