[Unit]
Description=Init keycodes

[Service]
Type=oneshot
ExecStart=/usr/bin/setkeycodes 71 123
ExecStart=/usr/bin/setkeycodes 72 122

[Install]
WantedBy=default.target
